<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="testCase.Listeners"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="testCase.DefaceStampTC"/>
      <class name="testCase.DefaceBySerialNoTC"/>
      <class name="testCase.EditCurrentUserTC"/>
      <class name="testCase.MeterSummaryReportTC"/>
      <class name="testCase.VendorLicenseeManagementTC"/>
      <class name="testCase.DefaceReportTC"/>
      <class name="testCase.Login"/>
      <class name="testCase.UserManagementTC"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
